@model ProjectFlow.Models.View_Models.WorkspaceViewModel
@{
    ViewData["Title"] = @Model.Workspace.Name;
}

<div class="container overflow-scroll" id="workspaceBg">
    <div class="row">
        <div class="col-6">
            <h1 class="fw-semibold bg-primary rounded ps-1">Workspace - @Model.Workspace.Name</h1>
        </div>
        <div class="col-6 d-flex justify-content-end">
            <button class="btn btn-primary" onclick="toggleSettings()"><i class="bi bi-gear-fill"></i></button>
        </div>
    </div>
    <div class="d-flex workspaceContainer ">
        <div class="TaskContainer p-2">
            <h3 class="fw-bold">To Do:</h3>
            <div class="form-floating ">
                <input class="form-control" placeholder="Add to do item" id="toDoInput"/>
                <label class="form-label">Add to do item</label>
                <span class="text-danger fw-semibold workspaceValidation"></span>
            </div>

        </div>
        <div class="TaskContainer p-2">
            <h3 class="fw-bold">Doing:</h3>
            <div class="form-floating">
                <input class="form-control" placeholder="Add doing item" id="doingInput"/>
                <label class="form-label">Add doing item</label>
                <span class="text-danger fw-semibold workspaceValidation"></span>
            </div>
        </div>
        <div class="TaskContainer p-2">
            <h3 class="fw-bold">Done:</h3>
            <div class="form-floating ">
                <input class="form-control" placeholder="Add done item" id="doneInput"/>
                <label class="form-label">Add done item</label>
                <span class="text-danger fw-semibold workspaceValidation"></span>
            </div>
        </div>
    </div>
</div>

<div class="workspaceSettingsContainer" style="display:none">
    <div class="workspaceSettings bg-primary">
        <div onclick="toggleSettings()" class="ms-2 mt-2">
            <button class="btn btn-secondary">Close</button>
        </div>
        <h3 class="text-center fw-semibold pt-2">Settings</h3>
        <div class="row">
            <div class="col-10 mx-auto">
                <form method="POST" id="updateWorkspaceForm">
                    @Html.AntiForgeryToken()
                    <input type="" asp-for="EditWorkspace.Id" hidden/>
                    <div>
                        <label class="form-label text-light fw-semibold">Project Name</label>
                        <input type="text" asp-for="EditWorkspace.Name" class="form-control fw-semibold text-dark"/>
                    </div>
                    <div>
                        <label class="form-label text-light fw-semibold mt-2">Project Background</label>
                        <input type="color" class="form-control" placeholder="Color" asp-for="EditWorkspace.Color" style="cursor:pointer"/>
                    </div>
                    <div class="mt-4">
                        <button class="btn btn-dark" type="button" onclick="updateWorkspace()">Update</button>
                    </div>
                </form>
                <button class="btn btn-secondary mt-2" onclick="deleteWorkspace(@Model.Workspace.Id)">Delete Project</button>

            </div>
        </div>
    </div>
</div>

@section Scripts
{
    <script>
        $(function () {
            $('body').css("background-color", "@Model.Workspace.backgroundColor");
        })
        

        function toggleSettings(){
            $('.workspaceSettingsContainer').toggle();
        }
        function deleteWorkspace(workspaceId){
            Swal.fire({
                title: 'Are you sure?',
                text: "You won't be able to revert this!",
                icon: 'warning',
                showCancelButton: true,
                confirmButtonColor: '#3085d6',
                cancelButtonColor: '#d33',
                confirmButtonText: 'Yes, delete it!'
            }).then((result) => {
                if (result.isConfirmed) {
                    $.ajax({
                        url: '/Workspace/DeleteWorkspace/' + workspaceId,
                        type: 'DELETE',
                        success: function (data) {
                            Swal.fire(
                                'Deleted!',
                                'Your workspace has been deleted.',
                                'success'
                            ).then(function () {
                                window.location.href = '/Dashboard';
                            });
                        }
                    });
                }
            });
        }
        function updateWorkspace() {
            var formData = $('#updateWorkspaceForm').serialize();

            $.ajax({
                url: '/Workspace/UpdateWorkspace',
                type: 'POST',
                data: formData,
                success: function (data) {
                    if (data.success) {
                        location.reload();
                    } else {
                        Swal.fire('Error!', data.message, 'error');
                    }
                },
                error: function () {
                    Swal.fire('Error!', 'An error occurred while updating the workspace.', 'error');
                }
            });
        }
    
    </script>
}
